--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
gunicorn
python-dotenv
requests
numpy
scikit-learn
torch
torchvision
Pillow
firebase-admin
arxiv
google-generativeai
duckduckgo-search
pypdf
pydantic
